
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0 auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to right, rgba(70, 130, 180, 0.9), rgba(70, 130, 180, 0.5)),
        url(../img/desk-593327_1280.jpg);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}

#header_top {
    position: fixed;
    width: 100%;
}

#header_top_box {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header_top_box > div {
    width: 100%;
}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'GmarketSansMedium', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title > a {
    color: rgba(255, 255, 255, 0.6);
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu > div {
    margin:0 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'GmarketSansMedium', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#header_middle {
    text-align: center;
    padding: 100px 0 ;
}

.middle_title {
    font-size: 55px;
    margin-bottom: 30px;
    line-height: 1.7;
    color: white;
    font-family: 'SBAggroB', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.middle_dis {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    color: white;
    font-family: 'GmarketSansMedium', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.7);
}

#body {
    width: 100%;
}

.inner_box {
    width: 1080px;
    /* 지워야 함!!!! */
    padding: 50px;
}

#about_me {
    padding: 0;
    padding-top: 50px;
}

#about_me_box {
    background-color: lightcoral;
}

#skills_box{
    background-color: lightblue;
}

#archiving_box{
    background-color: greenyellow;
}

#projects_box{
    background-color: cornflowerblue;
}

#footer {
    width: 100%;
    height: 200px;
    background-color: black;
}

.body_title {
    text-align: center;
}

.body_title > a{
    text-align: center;
    color: white;
    font-family: 'SBAggroB', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);   
    font-size: 40px;
    cursor: pointer;
}

.about_me_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.ab_text_box {
    width: 33%;
    margin-bottom: 50px;
}

.ab_bold_text {
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.ab_text {
    text-align: center;
    font-family: 'SUITE-Regular', sans-serif;
    font-size: 25px;
}

#icon_person {
    width: 80px;
    height: 80px;
    background: url(../img/icon_person.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#icon_callender {
    width: 80px;
    height: 80px;
    background: url(../img/icon_callender.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#icon_addr {
    width: 80px;
    height: 80px;
    background: url(../img/icon_addr.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#icon_phone {
    width: 80px;
    height: 80px;
    background: url(../img/icon_phone.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#icon_message {
    width: 80px;
    height: 80px;
    background: url(../img/icon_message.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.skills_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills_list {
    width: 33%;
    height: 100%;
    text-align: center;
    border-radius: 30px;
    margin-top: 50px;
}

.skills_title {
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.skills_content {
    text-align: center;
    font-family: 'SUITE-Regular', sans-serif;
    font-size: 25px;
}