
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0 auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to right, rgba(70, 130, 180, 0.9), rgba(70, 130, 180, 0.5)),
        url(../img/desk-593327_1280.jpg);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}

#header_top {
    position: fixed;
    width: 100%;
    z-index: 2000;
}

#header_top_box {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header_top_box > div {
    width: 100%;
}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'GmarketSansMedium', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.title > a {
    color: rgba(255, 255, 255, 0.6);
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu > div {
    margin:0 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'GmarketSansMedium', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#header_middle {
    text-align: center;
    padding: 100px 0 ;
}

.middle_title {
    font-size: 55px;
    margin-bottom: 30px;
    line-height: 1.7;
    color: white;
    font-family: 'SBAggroB', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.middle_dis {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    color: white;
    font-family: 'GmarketSansMedium', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.7);
}

#body {
    width: 100%;
}

.inner_box {
    width: 1080px;
    /* 지워야 함!!!! */
    padding: 50px;
}

#about_me {
    padding: 50px;
    padding-bottom: 40px;
}

#about_me_box {
    background-color: lightcoral;
}

#skills_box{
    background-color: lightblue;
}

#archiving_box{
    background-color: rgb(181, 214, 146)    ;
}

#projects_box{
    background-color: rgb(203, 170, 203);
    /* background-color: #C3E2DD; */
}

#footer {
    width: 100%;
    height: 200px;
    background-color: black;
}

.body_title {
    text-align: center;
}

.a_title {
    border-bottom: 5px solid;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.body_title > a{
    text-align: center;
    color: white;
    font-family: 'SBAggroB', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);   
    font-size: 40px;
    cursor: pointer;
}

.about_me_list_top {
    display: flex;
    flex: 3;
    box-sizing: border-box;
    margin-top: 50px;
}

.about_me_list_bottom {
    display: flex;
    flex: 2;
    box-sizing: border-box;
}

.ab_text_box {
    flex: 1;
    margin: 10px;
    border: 5px solid black;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.ab_bold_text {
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);   
}

.ab_text {
    text-align: center;
    font-family: 'SUITE-Regular', sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#icon_person {
    width: 80px;
    height: 80px;
    background: url(../img/icon_person.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#icon_callender {
    width: 80px;
    height: 80px;
    background: url(../img/icon_callender.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#icon_addr {
    width: 80px;
    height: 80px;
    background: url(../img/icon_addr.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#icon_phone {
    width: 80px;
    height: 80px;
    background: url(../img/icon_phone.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#icon_message {
    width: 80px;
    height: 80px;
    background: url(../img/icon_message.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.skills_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-start; */
}

.box {
    width: 25%;
    margin-top: 50px;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    border: 5px solid black;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.skills_title {
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);   
}

.skills_content {
    text-align: center;
    font-family: 'SUITE-Regular', sans-serif;
    font-size: 25px;
    align-items: center; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);   
}

.archiving_context_box {
    width: 43.6%;
    cursor: pointer;
}

.style_a {
    color: blue;
    display: block;
    margin-bottom: 20px;
}

.style_b {
    color: blue;
}

.style_b:hover {
    text-decoration: underline; /* 마우스를 올렸을 때 밑줄 표시 */
}

.archiving_context_box:hover .style_a {
    text-decoration: underline; /* 마우스를 올렸을 때 밑줄 표시 */
}

ul {
    list-style-position: inside; /* 목록 마커 위치를 내부로 설정 */
}

li {
    text-align: left;
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.projects_context_box {
    width: 100%;
}

.project_period {
    font-family: 'SUITE-Regular', sans-serif;
    color: gray;
    margin-bottom: 20px;
}

.img_box {
    display: flex;
}

.image_container {
    width: 450px; /* 박스의 가로 크기 */
    height: 450px; /* 박스의 세로 크기 */
    background-size: contain; /* 이미지를 박스에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않음 */
    border: 2px solid gray;
    padding: 50px;
    transition: background-image 0.5s ease-in-out;
    cursor: pointer;
}

.left_arrow_icon {
    width: 100px;
    height: 100px;
    background: url(../img/left_arrow_icon.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-top: 180px;
}

.right_arrow_icon {
    width: 100px;
    height: 100px;
    background: url(../img/right_arrow_icon.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-top: 180px;
}

.projectDescription {
    display: none;
    cursor: pointer;
}

.descriptionUl {
    margin-left: 50px;
    float: left;
}

.descriptionUl li {
    list-style-type: none;
    position: relative;
    padding-left: 30px;
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    user-select: none;
}

.descriptionUl li > b {
    font-size: 25px;
}

.left_description {
    user-select: none;
}

.descriptionUl li::before {
    content: ""; /* 가상 요소의 내용 없음 */
    background-image: url('../img/icon_check.png'); /* 마커 이미지 지정 */
    background-size: contain; /* 이미지를 가득 채우되 비율 유지 */
    background-repeat: no-repeat; /* 이미지 반복 제거 */
    width: 20px; /* 마커의 가로 크기 */
    height: 20px; /* 마커의 세로 크기 */
    display: inline-block; /* 인라인 블록 요소로 설정하여 텍스트와 수직 정렬 */
    position: absolute; /* 부모 위치 기준으로 위치 조절 */
    left: 0; /* 왼쪽 정렬 */
    top: 50%; /* 수직 정렬을 위해 부모의 50% 지점에 위치 */
    transform: translateY(-50%); /* 수직 정렬 조절 */
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 25px;
    cursor: pointer;
    border: 2px solid black;
    background: url(../img/icon_arrow_up.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.explain_text {
    font-family: 'SUITE-Regular', sans-serif;
}

.footer_text {
    color: #fff;
    text-align: center;
    padding-top: 100px;
}